@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

@mixin transition($property1, $property2) {
  transition: $property1 $property2;
}

@mixin transition-duration($property1) {
  -webkit-transition-duration: $property1;
       -o-transition-duration: $property1;
          transition-duration: $property1;
}

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@mixin transform-origin($property1, $property2) {
  -webkit-transform-origin: $property1 $property2;
      -ms-transform-origin: $property1 $property2;
       -o-transform-origin: $property1 $property2;
          transform-origin: $property1 $property2;
}

@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-o-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}
@mixin animate($property) {
  -webkit-animation: $property;
          animation: $property;
}
@include keyframes(bounce) {
  0%, 100% { @include transform(translateY(-1rem)) }
  50% { @include transform(translateY(1rem)) }
}
@include keyframes(grow) {
  0% { @include transform(scale(0)) }
  100% { @include transform(scale(1)) }
}
@mixin grow-animate {
  @include animate(grow 1s 1);
}

html {
  font-family: 'Manrope', sans-serif;
  font-size: min(max(1rem, 4vw), 16px);
}
.is-transition {
  pointer-events: none;
  cursor: progress;
}
.loader {
  position: fixed;
  top: 0; left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: 10;
}


.parallax {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -10;

  @include grow-animate;
}

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  @include transform-origin(center, center);
  @include transform(translate3d(0, 0, 0));
  @include transition-duration(1ms);
}
$circle-width: 15rem;
.slice1 { width: $circle-width * 1.3; }
.slice2 { width: $circle-width * 0.9; }
.slice3 { width: $circle-width * 1.7; }
.slice4 { width: $circle-width * 1.4; }
.slice5 { width: $circle-width * 2.3; }
.slice6 { width: $circle-width * 0.6; }
.slice7 { width: $circle-width * 2.6; }
.slice8 { width: $circle-width * 2.7; }
.slice9 { width: $circle-width * 2.3; }
.slice10 { width: $circle-width * 0.4; }
.slice11 { width: $circle-width * 1.0; }
.slice12 { width: $circle-width * 1.0; }
.slice13 { width: $circle-width * 1.7; }
.slice14 { width: $circle-width; }
.slice15 { width: $circle-width * 1.9; }
.slice16 { width: $circle-width * 1; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 99px);
  grid-template-rows: 30rem;
  grid-gap: 20px;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      color: black;
      padding-left: 2rem;

      a {
        text-decoration: none;
        color: black;
        margin-left: -2rem;
        &:hover {
          padding-left: 2rem;
        }
      }
    }
  }
  .navigation-links {
    position: inherit;
  }
  .socials-links {
    position: inherit;
    bottom: 0;
  }
  .logo-nav {
    position: inherit;
    bottom: 0;
    right: 0;

    img {
      width: 5rem;
    }
  }
}
