@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@-o-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
html {
  font-family: 'Manrope', sans-serif;
  font-size: min(max(1rem, 4vw), 16px);
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0; }

.grid-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr [grid-s] repeat(12, 5rem) [grid-e] 1fr;
  grid-template-rows: repeat(3, 100vh);
  grid-column-gap: 1.25rem;
  justify-content: center; }
  .grid-container .parallax, .grid-container .loading {
    grid-row: 1 / span 1; }
  .grid-container .nav {
    grid-column: grid-s / span 2;
    grid-row: 2 / span 1; }
  .grid-container .name {
    grid-row: 2 / span 1; }
  .grid-container .name_page {
    grid-column: 1 / -1;
    grid-row: 2 / span 1; }

.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  overflow-x: hidden; }

.parallax__image {
  position: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 1ms;
  -o-transition-duration: 1ms;
  transition-duration: 1ms; }

.parallax__element--slice1 {
  width: 18.2rem; }

.parallax__element--slice2 {
  width: 12.6rem; }

.parallax__element--slice3 {
  width: 23.8rem; }

.parallax__element--slice4 {
  width: 19.6rem; }

.parallax__element--slice5 {
  width: 32.2rem; }

.parallax__element--slice6 {
  width: 8.4rem; }

.parallax__element--slice7 {
  width: 36.4rem; }

.parallax__element--slice8 {
  width: 37.8rem; }

.parallax__element--slice9 {
  width: 32.2rem; }

.parallax__element--slice10 {
  width: 5.6rem; }

.parallax__element--slice11 {
  width: 14rem; }

.parallax__element--slice12 {
  width: 14rem; }

.parallax__element--slice13 {
  width: 23.8rem; }

.parallax__element--slice14 {
  width: 14rem; }

.parallax__element--slice15 {
  width: 26.6rem; }

.parallax__element--slice16 {
  width: 14rem; }

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.loading__element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.loading__logo {
  width: 5.6rem; }

.loading__bg {
  width: 150vw;
  height: 150vw;
  background-color: #4173FD;
  border-radius: 0; }

.nav {
  position: sticky;
  top: 0;
  z-index: 5; }
  .nav .nav__element--name {
    font-size: 10rem;
    width: 75vw;
    margin: -3.5rem -12rem;
    opacity: 0; }
  .nav .links {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column; }
    .nav .links .links__element {
      margin-bottom: 0.5rem;
      font-weight: bolder;
      text-decoration: none;
      color: #191919; }
    .nav .links .nav__element--logo {
      display: none;
      align-self: flex-start;
      height: 2rem; }

.name_page {
  overflow: hidden; }
  .name_page .name_page__name {
    position: relative;
    font-size: 50rem;
    margin: -7rem 7.2rem;
    left: 0;
    width: 400rem; }

/*# sourceMappingURL=styles_new.css.map */
