@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }
  50% {
    -webkit-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    transform: translateY(0.5rem); } }
@-o-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }
  50% {
    -webkit-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    transform: translateY(0.5rem); } }
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }
  50% {
    -webkit-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    transform: translateY(0.5rem); } }
* {
  font-size: 16px; }

html {
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  scroll-behavior: smooth; }

.grid-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) [grid-s] repeat(12, minmax(2rem, 5rem)) [grid-e] minmax(1rem, 1fr);
  grid-template-rows: 100vh 100vh repeat(4, auto);
  grid-column-gap: 1.25rem;
  justify-content: center; }
  .grid-container .intro {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    justify-self: center; }
  .grid-container .nav {
    grid-column: grid-s / span 2;
    grid-row: 3 / span 1; }
  .grid-container .project-titles {
    grid-column: grid-s / grid-e;
    grid-row: 3 / span 1; }
  .grid-container .projects {
    grid-column: grid-s / grid-e;
    grid-row: 3 / span 1; }
  .grid-container .about {
    grid-column: 5 / -5;
    grid-row: 4 / span 1; }
  .grid-container .footer__background {
    grid-column: 1 / -1;
    grid-row: 5 / span 1; }
  .grid-container .footer {
    grid-column: grid-s / grid-e;
    grid-row: 5 / span 1; }

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 10; }

.loading__element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.loading__logo {
  width: 5.6rem; }

.loading__bg {
  background-color: #4173FD;
  border-radius: 0; }

.loading__circle {
  width: 12.6rem; }

@media (orientation: landscape) {
  .loading__bg {
    width: 100vw;
    height: 100vw; } }
@media (orientation: portrait) {
  .loading__bg {
    width: 100vh;
    height: 100vh; } }
.intro__content {
  display: flex;
  justify-content: flex-start;
  align-content: center; }
.intro__elements {
  display: flex;
  flex-direction: column;
  margin: auto; }
.intro__element {
  font-size: 3rem;
  white-space: nowrap;
  margin: 0; }
.intro__star {
  width: 10rem;
  margin-left: 2rem; }

.scroll_arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  bottom: 20%;
  z-index: 5;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

.nav {
  position: sticky;
  top: 0;
  z-index: 5;
  height: 100vh;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none; }
  .nav .nav__element--name {
    display: flex;
    justify-content: left;
    position: absolute;
    font-size: 3rem;
    opacity: 0;
    white-space: nowrap;
    width: 100%; }
  .nav .links {
    margin-top: 8rem;
    display: flex;
    flex-direction: column; }
    .nav .links .links__element {
      margin: 0 0 0.5rem;
      font-weight: bolder;
      text-decoration: none;
      color: #191919;
      opacity: 0; }
    .nav .links .links__element--link:hover {
      color: #4173FD; }
    .nav .links .links__element--about-img {
      position: absolute;
      top: 7rem;
      left: -1.5rem;
      width: 7rem;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .nav .links .img-2 {
      display: none; }
    .nav .links .img-3 {
      display: none; }
    .nav .links .img-4 {
      display: none; }

.name_page {
  position: absolute;
  top: 50rem; }
  .name_page .name_page__name {
    font-size: 50rem;
    white-space: nowrap;
    margin: -5rem 0 0 9rem; }

.about {
  margin-bottom: 10rem; }
  .about .about__element {
    font-size: 1.75rem;
    line-height: 180%;
    margin-bottom: 4rem; }

.project-titles {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 20vh;
  height: 80vh;
  margin-bottom: 15rem;
  z-index: 2;
  pointer-events: none; }

.project-title {
  font-size: 3rem;
  text-align: right;
  width: 100%;
  opacity: 0; }

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30rem 0 10rem; }
  .projects .projects__element--group {
    margin: 8rem 0;
    perspective: 400px; }
  .projects .projects__element--image {
    cursor: pointer;
    transition: all 0.1s linear; }
  .projects #construct {
    width: 44.4rem; }
  .projects #rps {
    width: 62.4rem; }
  .projects #ecommerce {
    width: 51.6rem; }
  .projects #exodus_img {
    width: 46.8rem; }
  .projects #logos {
    width: 39.6rem; }

.project-view {
  display: none;
  grid-template-columns: minmax(1rem, 1fr) [grid-s] repeat(12, minmax(2rem, 5rem)) [grid-e] minmax(1rem, 1fr);
  grid-template-rows: 100vh;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-y: auto;
  z-index: 10; }
  .project-view .project-view__exit {
    grid-column: 13 / 14;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 2rem 0 0 auto;
    z-index: 2;
    cursor: pointer; }
    .project-view .project-view__exit:hover {
      background-color: #4173FD; }
    .project-view .project-view__exit .project-view__exit-image {
      width: 3rem; }
  .project-view .project-view__drag-text {
    position: fixed;
    font-size: 3rem;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none; }
  .project-view .project-view__project {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: grab;
    height: 100vh; }
    .project-view .project-view__project .project-view__link {
      font-size: 3rem;
      font-weight: bolder;
      text-decoration: none;
      white-space: nowrap;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin: 0 2rem;
      color: #191919;
      cursor: pointer;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
      .project-view .project-view__project .project-view__link:hover {
        color: #4173FD; }
    .project-view .project-view__project .project-view__image {
      height: 75vh;
      margin: 1rem 0.5rem; }

.footer__background {
  background-color: #191919;
  height: 10rem; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white; }
  .footer h1 {
    font-size: 2rem; }
  .footer .footer__element--links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 18rem; }
  .footer .footer__element--link {
    font-weight: bolder;
    text-decoration: none;
    color: white; }
    .footer .footer__element--link:hover {
      color: #4173FD; }
  .footer .footer__element--circle-link {
    margin-right: 2rem; }
  .footer .footer__element--image-circle {
    position: absolute;
    width: 9.5rem;
    margin: -1.5rem 0 0 -2.1rem;
    pointer-events: none; }

@media (min-width: 2200px) {
  * {
    font-size: 24px; } }
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1rem; }
    .grid-container .nav {
      grid-column: 1 / -1;
      grid-row: 3 / span 1; }
    .grid-container .project-titles {
      grid-column: 1 / -1;
      grid-row: 3 / span 1; }
    .grid-container .projects {
      grid-column: 1 / -1;
      grid-row: 3 / span 1; }
    .grid-container .about {
      grid-column: 1 / -1;
      grid-row: 4 / span 1; }
    .grid-container .footer__background {
      grid-column: 1 / -1;
      grid-row: 5 / span 1; }
    .grid-container .footer {
      grid-column: 1 / -1;
      grid-row: 5 / span 1; }

  .parallax__element--circular-text-small {
    display: none; }

  .intro {
    width: 100%; }
    .intro .intro__element {
      white-space: normal; }

  .project-titles {
    display: none; }

  .projects {
    margin-left: 0; }
    .projects .projects__element--group {
      margin: 4rem 0; }
    .projects .projects__element--image {
      width: 100%; }
    .projects #construct {
      width: 100%; }
    .projects #rps {
      width: 100%; }
    .projects #ecommerce {
      width: 100%; }
    .projects #exodus_img {
      width: 100%; }
    .projects #logos {
      width: 100%; }

  .project-view {
    grid-template-columns: calc(100vw - 2rem);
    margin: 0 1rem;
    left: -1rem; }
    .project-view .project-view__drag-text {
      display: none; }
    .project-view .project-view__exit {
      grid-column: 1 / -1;
      grid-row: 1 / span 1; }
    .project-view .project-view__project {
      grid-column: 1 / -1;
      grid-row: 1 / span 1; }

  .footer__background {
    position: relative;
    width: 120vw;
    height: 140%;
    left: -1rem;
    z-index: -1; }

  .footer {
    flex-direction: column; } }
@media (max-width: 768px) {
  .intro__star {
    display: none; }

  .nav .nav__element--name {
    margin: 0; }
  .nav .links {
    display: none; } }
@media (max-width: 425px) {
  .about .about__element {
    font-size: 1.5rem; }

  .footer {
    font-size: 0.85rem; } }
@media (max-width: 320px) {
  .nav {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
