@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@-o-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
html {
  font-family: 'Manrope', sans-serif;
  font-size: min(max(1rem, 4vw), 16px); }

.is-transition {
  pointer-events: none;
  cursor: progress; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #191919;
  z-index: 10; }

.logo-animate {
  width: 10rem; }

.parallax {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10; }

.parallax__image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 1ms;
  -o-transition-duration: 1ms;
  transition-duration: 1ms; }

.parallax__element--slice1 {
  width: 18.2rem; }

.parallax__element--slice2 {
  width: 12.6rem; }

.parallax__element--slice3 {
  width: 23.8rem; }

.parallax__element--slice4 {
  width: 19.6rem; }

.parallax__element--slice5 {
  width: 32.2rem; }

.parallax__element--slice6 {
  width: 8.4rem; }

.parallax__element--slice7 {
  width: 36.4rem; }

.parallax__element--slice8 {
  width: 37.8rem; }

.parallax__element--slice9 {
  width: 32.2rem; }

.parallax__element--slice10 {
  width: 5.6rem; }

.parallax__element--slice11 {
  width: 14rem; }

.parallax__element--slice12 {
  width: 14rem; }

.parallax__element--slice13 {
  width: 23.8rem; }

.parallax__element--slice14 {
  width: 14rem; }

.parallax__element--slice15 {
  width: 26.6rem; }

.parallax__element--slice16 {
  width: 14rem; }

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.loading__element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.loading__logo {
  width: 5.6rem; }

.loading__bg {
  width: 150vw;
  height: 150vw;
  background-color: #4173FD;
  border-radius: 0; }

.grid-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(12, 5rem);
  grid-template-rows: 100%;
  grid-gap: 1.25rem;
  justify-content: center; }
  .grid-container .nav {
    grid-column: 1 / span 2; }
  .grid-container .logo-nav {
    grid-column: 12 / span 1;
    justify-self: right; }
  .grid-container .barba-grid-content {
    grid-column: 3 / span 9;
    grid-row: 1 / span 1; }

.nav .links {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .nav .links .links__element {
    color: #191919;
    padding-left: 2rem;
    font-weight: bold; }
    .nav .links .links__element a {
      text-decoration: none;
      color: #191919;
      margin-left: -2rem; }
      .nav .links .links__element a:hover {
        padding-left: 2rem; }
.nav .nav__element--logo {
  margin-top: auto;
  margin-bottom: 3rem; }
  .nav .nav__element--logo img {
    width: 3.25rem; }

.barba-grid-content {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-base-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .barba-grid-content::-webkit-scrollbar {
    display: none; }

.project-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .project-view .project-element {
    background-color: lightgray;
    border-radius: 1rem;
    width: 17.5rem;
    height: 17.5rem;
    margin-bottom: 1.25rem;
    order: 2;
    transition: all 0.2s ease-in-out; }
  .project-view .project-end {
    width: 100%;
    height: 0.4rem;
    order: 4; }

.about-text {
  padding-top: 20rem;
  width: 40rem;
  font-size: x-large;
  line-height: 160%; }

.contact-form {
  padding-top: 10rem;
  font-size: x-large;
  width: 30rem; }
  .contact-form input {
    font-family: 'Manrope', sans-serif;
    font-size: large;
    width: 30rem;
    background-color: #eaeaea;
    border: none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    margin-bottom: 1.5rem; }
  .contact-form textarea {
    font-family: 'Manrope', sans-serif;
    font-size: large;
    width: 30rem;
    height: 13rem;
    background-color: #eaeaea;
    border: none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    resize: none; }
  .contact-form button {
    font-family: 'Manrope', sans-serif;
    font-size: x-large;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-right: -2.5rem;
    margin-bottom: 3rem;
    float: right; }

/*# sourceMappingURL=styles_new.css.map */
