@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@-o-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  50% {
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem); } }
html {
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  scroll-behavior: smooth; }

.grid-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) [grid-s] repeat(12, minmax(2rem, 5rem)) [grid-e] minmax(1rem, 1fr);
  grid-template-rows: 130vh 100vh 100vh repeat(4, auto);
  grid-column-gap: 1.25rem;
  justify-content: center; }
  .grid-container .intro {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    justify-self: center; }
  .grid-container .nav {
    grid-column: grid-s / span 2;
    grid-row: 4 / span 1; }
  .grid-container .about {
    grid-column: 4 / span 7;
    grid-row: 5 / span 1; }
  .grid-container .project-titles {
    grid-column: grid-s / grid-e;
    grid-row: 6 / span 1; }
  .grid-container .projects {
    grid-column: 2 / 3;
    grid-row: 6 / span 1; }
  .grid-container .footer__background {
    grid-column: 1 / -1;
    grid-row: 7 / span 1; }
  .grid-container .footer {
    grid-column: grid-s / grid-e;
    grid-row: 7 / span 1; }

.scroll_arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 2rem;
  width: 3rem;
  bottom: 3rem;
  z-index: 12;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: -10; }

.parallax__image {
  position: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 1ms;
  -o-transition-duration: 1ms;
  transition-duration: 1ms; }

.parallax__element--slice1 {
  width: 18.2rem; }

.parallax__element--slice2 {
  width: 12.6rem; }

.parallax__element--slice3 {
  width: 23.8rem; }

.parallax__element--slice4 {
  width: 19.6rem; }

.parallax__element--slice5 {
  width: 32.2rem; }

.parallax__element--slice6 {
  width: 8.4rem; }

.parallax__element--slice7 {
  width: 36.4rem; }

.parallax__element--slice8 {
  width: 37.8rem; }

.parallax__element--slice9 {
  width: 32.2rem; }

.parallax__element--slice10 {
  width: 5.6rem; }

.parallax__element--slice11 {
  width: 14rem; }

.parallax__element--slice12 {
  width: 14rem; }

.parallax__element--slice13 {
  width: 23.8rem; }

.parallax__element--slice14 {
  width: 14rem; }

.parallax__element--slice15 {
  width: 26.6rem; }

.parallax__element--slice16 {
  width: 14rem; }

.parallax__element--circular-text-small {
  width: 42rem; }

.parallax__element--circular-text-large {
  display: none;
  width: 72.8rem; }

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.loading__element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.loading__logo {
  width: 5.6rem; }

.loading__bg {
  background-color: #4173FD;
  border-radius: 0; }

.loading__circle {
  width: 12.6rem; }

@media (orientation: landscape) {
  .loading__bg {
    width: 100vw;
    height: 100vw; } }
@media (orientation: portrait) {
  .loading__bg {
    width: 100vh;
    height: 100vh; } }
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 50vw; }
  .intro .intro__content {
    padding: 0; }
  .intro .intro__element {
    font-size: 3rem;
    white-space: nowrap;
    margin: 0; }

.nav {
  position: sticky;
  top: 0;
  z-index: 5;
  height: 100vh;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .nav .nav__element--name {
    display: flex;
    justify-content: left;
    position: absolute;
    font-size: 3rem;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    width: 100%; }
  .nav .links {
    margin-top: 8rem;
    display: flex;
    flex-direction: column; }
    .nav .links .links__element {
      margin: 0 0 0.5rem;
      font-weight: bolder;
      text-decoration: none;
      color: #191919;
      opacity: 0; }
    .nav .links .links__element--link:hover {
      color: #4173FD; }
    .nav .links .links__element--about-img {
      position: absolute;
      top: 7rem;
      left: -1.5rem;
      width: 7rem;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .nav .links .img-2 {
      display: none; }
    .nav .links .img-3 {
      display: none; }
    .nav .links .img-4 {
      display: none; }
  .nav .logos {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem; }
    .nav .logos .logo__element {
      margin-top: 0.7rem;
      align-self: flex-start;
      width: 2rem;
      opacity: 0; }

.name_page {
  position: absolute;
  top: 50rem; }
  .name_page .name_page__name {
    font-size: 50rem;
    white-space: nowrap;
    margin: -5rem 0 0 9rem; }

.about .about__element {
  font-size: 1.75rem;
  line-height: 180%;
  margin-bottom: 4rem; }

.project-titles {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 20vh;
  height: 80vh;
  margin-bottom: 15rem;
  z-index: 2;
  pointer-events: none; }

.project-title {
  font-size: 8rem;
  text-align: right;
  width: 100%; }

.project-title-outline {
  font-size: 10rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 12rem -7rem; }
  .projects .projects__element--group {
    margin: 8rem 0;
    perspective: 400px; }
  .projects .projects__element--image {
    transition: all 0.1s linear; }
  .projects #construct {
    width: 48.1rem; }
  .projects #rps {
    width: 67.6rem; }
  .projects #ecommerce {
    width: 55.9rem; }
  .projects #exodus_img {
    width: 50.7rem; }
  .projects #logos {
    width: 42.9rem; }

.project {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr [grid-s] repeat(12, 5rem) [grid-e] 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 1.25rem;
  justify-content: center;
  width: 100vw;
  height: 100vh; }
  .project .project__back {
    grid-column: grid-s / span 1;
    grid-row: 1 / 1;
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 4rem; }
  .project .project__large_title {
    position: absolute;
    font-size: 29rem;
    margin: 45rem 0 0 2rem;
    white-space: nowrap;
    color: #191919; }
  .project .project__slides--info {
    grid-column: grid-s / span 5;
    grid-row: 2 / 2; }
  .project .project__slides--images {
    grid-row: 3 / 3;
    grid-column: grid-s / span 5;
    display: flex;
    flex-wrap: wrap; }
  .project .project__slides--image {
    width: 100%; }
  .project .project__slides--info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .project .project__slides--info-title {
    color: #191919;
    font-size: 3rem;
    margin: 0 0 2rem; }
  .project .project__slides--info-text {
    color: #191919;
    font-size: 1.25rem;
    line-height: 180%;
    padding: 0 8rem 0 0; }

.footer__background {
  background-color: #191919;
  height: 7rem; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white; }
  .footer .footer__element--links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 18rem; }
  .footer .footer__element--link {
    font-weight: bolder;
    text-decoration: none;
    color: white; }
    .footer .footer__element--link:hover {
      color: #4173FD; }
  .footer .footer__element--circle-link {
    margin-right: 2rem; }
  .footer .footer__element--image-circle {
    position: absolute;
    width: 9.5rem;
    margin: -1.5rem 0 0 -2.1rem;
    pointer-events: none; }

@media (max-width: 1100px) {
  .parallax__element {
    display: none; }

  .parallax__element--show-mobile {
    display: inline-block; }

  .parallax__element--circular-text-large {
    display: inline-block;
    width: 110%;
    left: -5%; }

  .parallax__element--circular-text-small {
    width: 60%; } }
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr) auto;
    margin: 0 1rem; }
    .grid-container .nav {
      grid-column: 3 / -1;
      grid-row: 4 / span 1; }
    .grid-container .about {
      grid-column: 1 / -2;
      grid-row: 5 / span 1; }
    .grid-container .project-titles {
      grid-column: 1 / -1;
      grid-row: 6 / span 1; }
    .grid-container .projects {
      grid-column: 1 / -1;
      grid-row: 6 / span 1; }
    .grid-container .footer__background {
      grid-column: 1 / -1;
      grid-row: 7 / span 1; }
    .grid-container .footer {
      grid-column: 1 / -1;
      grid-row: 7 / span 1; }

  .parallax__element--circular-text-small {
    display: none; }

  .intro {
    width: 100%; }
    .intro .intro__element {
      white-space: normal; }

  .nav .nav__element--name {
    justify-content: right; }
  .nav .logos .logo__element {
    align-self: flex-end; }

  .project-titles {
    display: none; }

  .projects {
    margin-left: 0; }
    .projects .projects__element--group {
      margin: 4rem 0; }
    .projects .projects__element--image {
      width: 100%; }
    .projects #construct {
      width: 100%; }
    .projects #rps {
      width: 100%; }
    .projects #ecommerce {
      width: 100%; }
    .projects #exodus_img {
      width: 100%; }
    .projects #logos {
      width: 100%; }

  .project {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 0;
    margin: 0 1rem; }
    .project .project__back {
      grid-column: 1 / -1;
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .project .project__slides--left {
      grid-column: 1 / -1;
      grid-row: 2 / span 1; }
    .project .project__slides--right {
      grid-column: 1 / -1;
      grid-row: 3 / span 1; }
    .project .project__slides {
      margin-bottom: 1.25rem; }
    .project .project__slides--info-title {
      margin: 2rem 1rem 1rem; }
    .project .project__slides--info-text {
      padding: 0 1rem; }

  .footer__background {
    position: relative;
    width: 120%;
    height: 140%;
    left: -10%;
    z-index: -1; }

  .footer {
    flex-direction: column; } }
@media (max-width: 550px) {
  .nav .nav__element--name {
    display: none; }
  .nav .links {
    margin-top: 2rem; }
    .nav .links .links__element--about-img {
      top: 1rem; }

  .about .about__element {
    font-size: 1.5rem; } }

/*# sourceMappingURL=styles.css.map */
